*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.none {
    display: none !important;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}